# Environments
.env
.venv
env/
venv/
ENV/

# Python
**/__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store
Thumbs.db

# Weights & Models (Very Large)
*.pt
*.pth
Train_YOLOv11/weights_yolov11s/
Train_CNN/weight/
Train_CNN_Classes/weight/
Pretrain_SAM/model/

# Temporary data
IMG_TEST_CNN_AfterSAM/
IMG_TEST_SAM/
*.jpg
*.png
!image-1.png
!image-2.png

# FastAPI
temp_file_*
README.md
