ultralytics
timm
segment-anything
opencv-python-headless
numpy
pandas
scikit-learn
albumentations
matplotlib
scipy
shapely
django
djangorestframework
django-cors-headers
python-dotenv
pillow
tqdm
python-dotenv